/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box !important;
  font-size: 62.5% !important;
}
*,
*:before,
*:after {
  box-sizing: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  width: 100%;
}
