.box-services {
	padding: 11.3rem 0 !important;
}

.services-description {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.4rem;
}

.services-description p {
	line-height: 155%;
}

.list-service {
	padding: 16rem 0 !important;
	display: grid;
	flex-wrap: wrap;
	grid-template-columns: repeat(2, auto);
	gap: 6.7rem;
}

.card-service {
	max-width: 43rem;
	width: 100%;
	height: 46.4rem;
	background-color: var(--white);
	padding: 4rem 3.4rem !important;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.card-service-title {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

@media (min-width: 1300px) {
	.list-service {
		grid-template-columns: repeat(3, auto);
	}
}
